.bg-container{
    padding: 50px;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    flex-wrap: wrap;

}
.bg-container-1{
    padding: 50px;
    height: auto;
    width: 100vw;
    background-color: skyblue;
    text-align: center;
}
.heading-ele{
    color: black;
    font-size: 30px;
    text-decoration: underline;
    font-family: "bree-serif";
    text-align: center;
}
.loader-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}